body { background-color: #212121; }

#memory_board{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #212121;
	margin-right: 10%;
	margin-left: 10%;
}

#memory_board > div{

	border: white 2px solid;
	margin:10px;
	height: 150px;
	width:  100px;
	border-radius: 10px;
	font-size:64px;
	cursor:pointer;
}

h3
{
height: 80px;
color: #D90D1A;
font-size: 40px;
text-shadow: 4px 3px #D90D1A;
text-align: center;
background-color: #212121;
vertical-align: middle;
line-height: 80px;
margin-top: 0px ;
margin-bottom: 0px;
}

img{
	height: 150px;
	width:  100px;
	border-radius: 10px;
}

